<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top" id="navbar">
  <a class="navbar-brand" href="{{INDEX_PREFIX}}index.html">Lukas Maar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-pills" id="navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item topbar-item"><a class="nav-link" href="{{INDEX_PREFIX}}index.html#about_me">About Me</a></li>
      <li class="nav-item dropdown topbar-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Blog</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#blog2026">2026: {{COUNT_BLOG_2026}}</a>
        </div>
      </li>
      <li class="nav-item dropdown topbar-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Publications</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#publications2026">2026: {{COUNT_PUBLICATIONS_2026}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#publications2025">2025: {{COUNT_PUBLICATIONS_2025}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#publications2024">2024: {{COUNT_PUBLICATIONS_2024}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#publications2023">2023: {{COUNT_PUBLICATIONS_2023}}</a>
        </div>
      </li>
      <li class="nav-item dropdown topbar-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Talks</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#talks2026">2026: {{COUNT_TALKS_2026}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#talks2025">2025: {{COUNT_TALKS_2025}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#talks2024">2024: {{COUNT_TALKS_2024}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#talks2023">2023: {{COUNT_TALKS_2023}}</a>
        </div>
      </li>
      <li class="nav-item dropdown topbar-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Awards and CVEs</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#awards2026">2026: {{COUNT_AWARDS_2026}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#awards2025">2025: {{COUNT_AWARDS_2025}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#awards2024">2024: {{COUNT_AWARDS_2024}}</a>
          <a class="dropdown-item" href="{{INDEX_PREFIX}}index.html#awards2023">2023: {{COUNT_AWARDS_2023}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
