<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top" id="navbar">
  <a class="navbar-brand" href="{{INDEX_PREFIX}}index.html">Lukas Maar</a>
  <div class="navbar-controls">
    <button type="button" class="theme-toggle" onclick="toggleTheme()" aria-label="Toggle dark mode" title="Toggle dark mode">
      <span class="theme-toggle-thumb">
        <i class="fa fa-sun-o theme-toggle-icon-light"></i>
        <i class="fa fa-moon-o theme-toggle-icon-dark"></i>
      </span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse nav-pills" id="navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item topbar-item"><a class="nav-link" href="{{INDEX_PREFIX}}index.html#about_me">About Me</a></li>
      <li class="nav-item dropdown topbar-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Blog</a>
        <div class="dropdown-menu">
{{INCLUDE:templates/partials/index/topbar-blog.html}}        </div>
      </li>
      <li class="nav-item dropdown topbar-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Publications</a>
        <div class="dropdown-menu">
{{INCLUDE:templates/partials/index/topbar-publications.html}}        </div>
      </li>
      <li class="nav-item dropdown topbar-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Talks</a>
        <div class="dropdown-menu">
{{INCLUDE:templates/partials/index/topbar-talks.html}}        </div>
      </li>
      <li class="nav-item dropdown topbar-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Awards and CVEs</a>
        <div class="dropdown-menu">
{{INCLUDE:templates/partials/index/topbar-awards.html}}        </div>
      </li>
    </ul>
  </div>
</nav>

<script>
  function toggleTheme() {
    var root = document.documentElement;
    var next = root.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
    root.setAttribute('data-theme', next);
    try { localStorage.setItem('theme', next); } catch (e) {}
  }
</script>
