<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/home.css">

  <!-- Google indexing -->
  <meta name="google-site-verification" content="E5UvMoMvf70F4qryQh3Jai_sonvfM7zp4btOn06tgm0" />

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <title>Lukas Maar</title>
</head>

<body class="home-page" data-spy="scroll" data-target="#navbar" data-offset="0">
  {{TOPBAR}}

  <div class="container">
    <!-- About Me -->
    <div class="link-target" id="about_me"></div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <br>
        <h3><i class="fa fa-user"></i>
          About Me:
        </h3>
      </div>
      <div class="col-md-1"></div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">

        <!-- Image -->
        <div class="row">
          <div class="col-xs-12">
            <img src="images/profile.jpg" alt="" class="img-fluid rounded-circle">
          </div>
        </div>

        <!-- Icons -->
        <div class="row icon-row">
          <span class="fa-stack fa-lg">
            <a href="https://github.com/lukasmaar">
              <i class="fa fa-github fa-stack-1x "></i>
            </a>
          </span>
          <span class="fa-stack fa-lg">
            <a href="https://scholar.google.com/citations?user=eM4rXzsAAAAJ">
              <i class="fa fa-google fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-lg">
            <a href="https://www.linkedin.com/in/lukas-maar-330678307/">
              <i class="fa fa-linkedin fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-lg">
            <a href="mailto:lukas.maar@tugraz.at">
              <i class="fa fa-envelope fa-stack-1x"></i>
            </a>
          </span>
        </div>
      </div>

      <!-- Description -->
      <div class="col-md-7">
        <p>
          Hey and welcome to my site. I am a security and vulnerability researcher from Austria. I defended my PhD titled <a
            href="publications/kernel-security-in-the-wild.pdf">Kernel Security in the Wild</a> at the Institute of Information
          Security (former IAIK), Graz University of Technology, supervised by <a
          href="https://www.isec.tugraz.at/person/stefan-mangard/">Stefan Mangard</a>. My research focuses on system security,
          with a particular focus on kernel attacks and defenses, side-channel attacks targeting the kernel, and Android kernel
          security.
        </p>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <b>Interests</b>
            <ul>
              <li>System Security</li>
              <li>Kernel Attacks and Defenses</li>
              <li>Side-Channel Attacks</li>
              <li>Android Kernel Security</li>
            </ul>
          </div>
          <div class="col-md-6">
            <b>Education</b>
            <ul class="fa-ul edu-list">
              <li><span class="fa-li"><i class="fa fa-graduation-cap"></i></span> PhD in Computer Science, 2025<br><span
                  class="text-muted-small"> Graz University of Technology</span></li>
              <li><span class="fa-li"><i class="fa fa-graduation-cap"></i></span> MSc in Electrical Engineering,
                2022<br><span class="text-muted-small"> Graz University of Technology</span></li>
              <li><span class="fa-li"><i class="fa fa-graduation-cap"></i></span> BSc in Computer Science, 2022<br><span
                  class="text-muted-small"> Graz University of Technology</span></li>
              <li><span class="fa-li"><i class="fa fa-graduation-cap"></i></span> BSc in Electrical Engineering,
                2018<br><span class="text-muted-small"> Graz University of Technology</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div id="blog" class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <hr>
        <h3>
          <i class="fa fa-edit">
          </i>
          Blog
        </h3>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    {{INCLUDE:templates/partials/index/blog-section.html}}

    <div id="publications" class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <hr>
        <h3>
          <i class="fa fa-file">
          </i>
          Publications
        </h3>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    {{INCLUDE:templates/partials/index/publications-section.html}}

    <div id="talks" class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <hr>
        <h3>
          <i class="fa fa-television">
          </i>
          Talks
        </h3>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    {{INCLUDE:templates/partials/index/talks-section.html}}

    <div id="awards" class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <hr>
        <h3>
          <i class="fa fa-trophy">
          </i>
          Awards and CVEs
        </h3>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    {{INCLUDE:templates/partials/index/awards-section.html}}

    <footer>
      <p>&copy; 2026 Lukas Maar.
        <small>
          Last updated: {{LAST_UPDATED}}. Template by
          <a class="title" href="https://andreaskogler.com/">Andreas Kogler</a> <span
            class="footer-arrow">&#10230;</span> <a class="title" href="https://fabianrauscher.com/">Fabian
            Rauscher</a> <span class="footer-arrow">&#10230;</span> <a class="title" href="#">Lukas Maar</a>
        </small>
      </p>
    </footer>
  </div>

  <div class="modal fade" id="bibtexModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">BibTeX</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre id="bibtexModalContent" class="pre-wrap"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" onclick="copyBibtex(this)">Copy</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  function toggleBox(name) {
    var el = document.getElementById(name);
    if (!el) return;

    var isHidden = window.getComputedStyle(el).display === "none";
    el.style.display = isHidden ? "block" : "none";
  }

  function showBibtex(id) {
    var src = document.getElementById(id);
    if (!src) return;
    document.getElementById('bibtexModalContent').textContent = src.textContent.replace(/^\n+|\n+$/g, '');
    $('#bibtexModal').modal('show');
  }

  function copyBibtex(btn) {
    var text = document.getElementById('bibtexModalContent').textContent;
    navigator.clipboard.writeText(text).then(function () {
      var old = btn.textContent;
      btn.textContent = 'Copied!';
      setTimeout(function () { btn.textContent = old; }, 1200);
    });
  }
</script>

</html>
